h1{ 
    color: red;
    text-align: center;
    text-decoration: underline;
    font-family: "ringold-slab", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{ 
    color: greenyellow;
    text-align: center;
    text-decoration: underline;
}



body{
    background-image: url(/img/mainweb.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-wrap: wrap; /* you were missing a semicolon*/
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to the full viewport height */
}

.turtle_icon.gif {
    max-width: 150%; /* Ensure the GIF does not exceed its original size */
    max-height: 150%; /* Ensure the GIF does not exceed its original size */
}


.header {
    display: flex;
    justify-content: center; /* Center the links horizontally */
    align-items: center; /* Center the links vertically */
    border-bottom: 1px solid #ccc; /* Border at the bottom of the header */
    padding: 10px 0; /* Padding above and below the headlines */
    font-size: 24px; /* Larger font size */
    font-weight: bold; /* Bold text */
    background-color: rgba(173, 216, 230, 0.8); /* Semi-transparent baby blue background */
    width: 100%; /* Full width you had the header width set to twices the browser windwon size as 200%*/
    position: fixed; /* Fixed position at the top */
    top: 0; /* Align at the top */
    z-index: 1000; /* Ensure it's above other content */
    font-family: "ringold-slab", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Text color */
    padding: 20px 20px; /* Padding around the links */
    margin: 0 60px; /* Spacing between the links */
    border: 1px solid #ccc; /* Border around the links */
    border-radius: 5px; /* Rounded corners for the borders */
}

.header a:hover {
    background-color: #f0f0f0; /* Background color on hover */
}

.clickme {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px; /* Optional: Add some margin for spacing */
}

.clickme {
    max-width: 100px; /* Set the maximum width of the GIF */
}
